body {
    width: 100%;
    height: 100vh;
    /* vh stands for Viewport height. Which takes x% (in this case 100% because 100vh) of the viewport's height to display your website */
    background-color: beige;
    color: hsl(220, 80%, 20%);
    margin: 0;
    font-family: Tahoma;
    /* Changes the font to Tahoma */
    font-size: 16px;
}
h1, p {
    margin: 1em auto;
    text-align: center;
}
form {
    width: 60vw;
    /* vw stands for viewport width */
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
}
label {
    display: block;
    margin: 0.5rem 0; /* The first value is for top and bottom, and the second is for left and right */
    /* rem stands for root em. It is based on the html element's font size. */
    /* For example if a <p> element has the font size of 16px, 1 rem = 16px */ 
}